.main-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  min-height: 92.5vh;
}

.todoelements-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.new-todolist {
  margin-top: 0.5rem;
}

@media screen and (max-width: 992px) {
  .todoelements-container {
    flex-direction: column;
    width: 90vw;
  }
}
