.settings-container {
  position: fixed;
  right: 0;
  background: var(--background-3);
  height: 100vh;
  width: 0;
  transition: var(--transition);
  z-index: 3;
}
.settings-container.active {
  width: 20vw;
}

.settings {
  display: flex;
  flex-direction: column;
}

.settings-item {
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.settings-item:hover {
  padding: 0.5rem 1rem;
  background: var(--background-3);
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .settings-container.active {
    width: 60vw;
  }
}
